@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  body { @apply antialiased; }
}

@import './components/RetroTheme.css';

/* Retro helpers */
@layer utilities {
  .bevel { box-shadow: inset 1px 1px 0px rgba(255,255,255,0.6), inset -1px -1px 0px rgba(0,0,0,0.6); }
}
